---
language: ruby
rvm:
  - 2.7
  - 3.0
  - 3.1
  - 3.2
  - 3.3
  - ruby-head
os:
  - linux
before_install:
  - "[[ $(sudo grep secure_path /etc/sudoers) ]] && export rvmsudo_secure_path=1 || export rvmsudo_secure_path=0"
script:
  - bundle install
  - bundle exec rake compile
  - bundle exec rake test
  - rvmsudo bundle exec rake test
matrix:
  allow_failures:
    - rvm: ruby-head
